// primary colors
$cp-darkBlue: #002146;
$cp-lightBlue: #006be6;
$cp-darkRed: #700000;
$cp-brightRed: #e40000;
$cp-dark: #1c1c1c;
$cp-darkGrey: #3e3e3e;
$cp-grey: #898989;
$cp-lightGrey: #b9b9b9;
$cp-white: #ececec;

// font colors
$cf-darkBlue: #002146;
$cf-darkRed: #700000;
$cf-dark: #1c1c1c;
$cf-white: #ececec;

// font-size
$fs-heading-large: 3.2rem;
$fs-heading-medium: 2.7rem;
$fs-heading-small: 2.2rem;
$fs-paragraph-large: 1.8rem;
$fs-paragraph-medium: 1.6rem;
$fs-paragraph-small: 1.4rem;
$fs-btn-large: 2rem;
$fs-btn-medium: 1.8rem;
$fs-btn-small: 1.6rem;

// border-radius
$br-large: .25rem;
$br-medium: .5rem;
$br-small: 1rem;

// box-shadow
$bs-dark: 0 0 5px 2px rgba(0, 0, 0, .3);
$bs-btn: 0px 1px 2px 1px rgba(0, 0, 0, .5);
$bs-btnHover: 0px 3px 4px 2px rgba(0, 0, 0, .5);

// margin
$m-large: 5rem;
$m-medium: 2.5rem;
$m-small: 1rem;

// padding
$p-large: 5rem;
$p-medium: 2.5rem;
$p-small: 1rem;





