.sidebar {
      @include displayFlexColumn;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 5rem;
      padding: 0 1rem;
      @include respond(tab-port) {
            gap: 6rem; 
            padding: 2rem;
      }
      @include respond(tab-land) {
            flex: 1 0 25%;
            gap: 7rem; 
            padding: 2rem 2rem 2rem 0rem; 
      }
      @include respond(desk) {
            gap: 8rem; 
      }
      @include respond(desk) {
            gap: 9rem; 
      }
      &__socialMedia {
            background-color: white;
            width: 100%;
            min-height: 95vh;
      }
      &__faq {
            background-color: black;
            width: 100%;
            min-height: 95vh;
      }
      &__contact {
            @include displayFlexColumn;
            justify-content: flex-start;
            gap: 3rem;
            width: min(100%, 45rem);
            padding: 3rem 1rem;
      }
      &__contactAddressContainer {
            @include displayFlexColumn;
            gap: 2rem;
      }
      &__contactAddressItem {
            @include displayFlexColumn;
            gap: .25rem;
      }
      &__contactGoogleMapsContainer {
            @include displayFlexColumn;
            gap: 2rem;
            width: 100%;
            padding: 1rem;
      }
      &__contactGoogleMapsMap {
            display: block;
            width: 100%;
            height: 60vw;
      }
}
