.main {
      @include displayFlexColumn;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 5rem;
      padding: 0 1rem;
      @include respond(tab-port) {
            gap: 6rem; 
            padding: 2rem;
      }
      @include respond(tab-land) {
            flex: 1 0 70%;
            gap: 7rem;
            padding: 2rem 0 2rem 2rem; 
      }
      @include respond(desk) {
            gap: 8rem; 
      }
      @include respond(desk) {
            gap: 9rem; 
      }
      &__about {
            background-color: white;
            width: 100%;
            min-height: 95vh;
      }
      &__accommodation {
            background-color: black;
            width: 100%;
            min-height: 95vh;
      }
      &__activities {
            background-color: white;
            width: 100%;
            min-height: 95vh;
      }
      &__gallery {
            @include displayFlexColumn;
            justify-content: flex-start;
            gap: 3rem;
            width: min(100%, 45rem);
            padding: 3rem 1rem;
      }
}
